streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-deepseek
langchain-openai
langchain-chroma
langgraph

chromadb
pypdf
sentence-transformers
scikit-learn

fastapi
uvicorn
redis
pydantic